body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 40px 20px;
}

.title {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 41px;
  text-align: center;
  padding-bottom: 0;
  color: #363636;
}

.sub-title {
  display: flex;
  align-items: flex-start;
  gap: 2px;
  margin-bottom: 20px;
}

.sub-title i {
  color: #ffe140;
  font-size: 24px;
}

.sub-title span {
  font-weight: 400;
  font-size: 16px;
  color: #282828;
  margin-left: 10px;
}

.reviews-grid {
  column-count: 5; /* số cột tùy ý */
  column-gap: 25px;
}

.review-card {
  break-inside: avoid; /* tránh bị chia cắt */
  margin-bottom: 25px;
  background: #fff;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.review-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.special-img {
  height: 160px !important;
  object-fit: cover;
}

.review-content {
  padding: 20px;
}

.review-header {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 5px;
}

.name {
  font-size: 17px;
}

.verified {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  color: #000000;
  margin-left: 8px;
}

.date {
  font-size: 14px;
  color: #555;
  margin: 5px 0 10px;
}

.stars {
  color: #ffe140;
  margin-bottom: 10px;
  font-size: 12px;
}

.text {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

.product {
  display: flex;
  gap: 15px;
  border-top: solid 1px #e2e2e2;
  padding-top: 15px;
}
.product span {
  font-size: 11px;
  line-height: 16px;
}
.product img {
  width: 60px;
  height: 80px;
  border-radius: 6px;
  object-fit: cover;
}

.load-more {
  text-align: center;
  margin-top: 40px;
}

.load-more button {
  padding: 5px 12px;
  border: none;
  color: #282828;
  border-radius: 2px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
}

.load-more button:hover {
  background-color: #e8e8e8;
  color: black;
}
